<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit http://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ADUsesOwinOrOpenIdConnect>False</ADUsesOwinOrOpenIdConnect>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://s00151925webapp.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>s00151925webapp.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>S00151925WebApp</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$S00151925WebApp</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="DefaultConnection" Order="1" Enabled="False">
          <Destination Path="Data Source=tcp:s00151925rad2016.database.windows.net,1433;Initial Catalog=RAD3012016S00151925DataBase;Persist Security Info=False;User ID=s00151925;Password=RAD-D11996;Encrypt=True;TrustServerCertificate=False" Name="Data Source=tcp:s00151925rad2016.database.windows.net,1433;Initial Catalog=RAD3012016S00151925DataBase;Persist Security Info=False;User ID=s00151925;Password=RAD-D11996;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="RAD301S00151925Clubs.Models.ClubModel.ClubModeldbContext, RAD301S00151925Clubs" MigrationConfiguration="RAD301S00151925Clubs.Migrations.ClubMigrations.Configuration, RAD301S00151925Clubs" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="$(DeployParameterPrefix)DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:s00151925rad2016.database.windows.net,1433;Initial Catalog=RAD3012016S00151925DataBase;Persist Security Info=False;User ID=s00151925;Password=RAD-D11996;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>